<div class="card" >
  <div class="card-body">
    <h5 class="card-title center">Resume</h5>
    <ul class="list-group text-left">
      <li class="list-group-item">This is a list item</li>
      <li class="list-group-item">Another list item</li>
      <li class="list-group-item">Yup, another list item</li>
      <li class="list-group-item">Another list item</li>
      <li class="list-group-item">This is a list item</li>
      <li class="list-group-item">Yup, another list item</li>
      <li class="list-group-item">This is a list item</li>
      <li class="list-group-item">Another list item</li>
      <li class="list-group-item">This is a list item</li>
      <li class="list-group-item">Yup, another list item</li>
    </ul>
    <button type="button" class="btn btn-secondary" (click)="send()">Send</button>
  </div>
</div>
