<div style="text-align:center">
  <app-welcome-page-component
    *ngIf="showPage == getWelcomePage()"
    [name]="name"
    (nextPage)="goToInfoPage($event)">
  </app-welcome-page-component>
  <app-info-page-component
    *ngIf="showPage == getInfoPage()"
    [age]="age"
    (nextPage)="goToResumePage($event)"
    (prevPage)="goToWelcomePage($event)"
    ></app-info-page-component>
  <app-resume-page-component
  *ngIf="showPage == getResumePage()"
  (sendInfo)="sendInfo()"></app-resume-page-component>

</div>
